{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="bg-dark text-white text-center p-4 mt-4">Nuestra historia</h3>
        <p class = "fs-2">
          Onlyflans nació de la pasión de un grupo de amigos que compartían una misma obsesión: los flanes. Después de años de compartir recetas, consejos y secretos en redes sociales, decidimos crear un espacio dedicado exclusivamente a los flanes, donde los fans pudieran reunirse y disfrutar de su pasión en comunidad.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="bg-dark text-white text-center p-4 mt-4">Nuestra misión</h3>
        <p class = "fs-2">
          Nuestra misión es crear una comunidad activa y comprometida con la promoción y disfrute de los flanes en todas sus formas. Queremos ser el lugar de referencia para todos aquellos que buscan inspiración, consejos y recetas para disfrutar de este delicioso postre.
        </p>
      </div>
    </div>
  </div>
{% endblock %}